<article class="people-card card">
<picture>
  <source srcset="./img/people/authors/@img.avif" type="image/avif">
  <source srcset="./img/people/authors/@img.webp" type="image/webp">
  <img class="people-card__img" src="./img/people/authors/@img." alt="Автор @author" width="120" height="120" loading="lazy">
</picture>

<div class="people-card__text">
  <p class="people-card__name caption">@name</p>
  <p>Город: @city</p>
  <p>Степень: @degree</p>
  <p>Место работы: @place</p>
  <p>Должность: @positions</p>
</div>
</article>
