<article class="people-card card">
<picture>
  <source srcset="img/people/authors/@img.avif" type="image/avif">
  <source srcset="img/people/authors/@img.webp" type="image/webp">
  <img class="people-card__img" src="img/people/authors/@img." alt="Автор @author" width="120" height="120" loading="lazy">
</picture>

<div class="people-card__text">
  <dl class="people-card__items">
  <dt class="people-card__name caption">@name</dt>
  <dd>Город: @city</dd>
  <dd>Степень: @degree</dd>
  <dd>Место работы: @place</dd>
  <dd>Должность: @positions</dd>
  </dl>
</div>
</article>
