<article class="people-card card @class">
  <picture>
    <source srcset="img/people/authors/@img.avif" type="image/avif" loading="lazy" />
    <source srcset="img/people/authors/@img.webp" type="image/webp" loading="lazy"/>
    <img class="people-card__img" src="img/people/authors/@img.jpg" alt="Автор @author" width="120" height="120" loading="lazy" />
  </picture>

  <div class="people-card__text">
    <p class="people-card__name caption">@name</p>
    <dl class="people-card__items">
      <dt>Город:</dt>
      <dd>@city</dd><br>
      <dt>Степень:</dt>
      <dd>@degree</dd><br>
      <dt>Место работы:</dt>
      <dd>@place</dd><br>
      <dt>Должность:</dt>
      <dd>@positions</dd>
    </dl>
  </div>
</article>
