<article class="release-card">
    <div class="release-card__image">
        <picture>
            <source srcset="img/releases/@img.avif" type="image/avif">
            <source srcset="img/releases/@img.webp" type="image/webp">
            <img class="release-card__img" src="img/releases/@img.jpg" alt="@alt" width="210" height="290" loading="lazy">
        </picture>
    </div>
    <h3 class="release-card__title subtitle">@title</h3>
    <a class="release-card__link caption" href="@href">@text</a>
</article>