@mixin font-face($font-family, $url, $weight) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('../fonts/#{$url}.woff2') format("woff2"),
        url('../fonts/#{$url}.woff') format("woff");
        font-weight: #{$weight};
        font-display: swap;
        font-style: normal;
    }
}

//Arimo
//@include font-face(Arimo, Arimo-Regular, 400);
//@include font-face(Arimo, Arimo-Medium, 500);
//@include font-face(Arimo, Arimo-SemiBold, 700);
//@include font-face(Arimo, Arimo-Bold, 700);
//@include font-face(Arimo, Arimo-ExtraBold, 800);
//@include font-face(Arimo, Arimo-Black, 800);