body {
	font-family: var(--font-main), 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: var(--color-black);
	background-color: var(--color-white);
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: 1200px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
}

.main {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.sr-only {
	position: absolute;
	clip-path: inset(100%);
	overflow: hidden;
	margin: 1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	white-space: nowrap;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.logo {
	display: inline-block;
	width: 100%;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.swiper-slide {
	box-sizing: border-box;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
	opacity: 0;

	&--active {
		z-index: 4;
		opacity: 0.5;
	}
}
