:root {
	--color-white: #fff;
	--color-black: #000;
	--color-dark-800: #141400;
	--color-dark-600: #282828;
	--color-red-300: #ef7b73;
	--color-orange-100: #fff9f1;
	--color-orange-150: #e9e4dd;
	--color-orange-400: #e8a852;
	--color-blue-100: #f6fafb;
	--color-blue-300: #d3edfa;
	--color-blue-500: #507e96;
	--color-brown-100: #e2dbd3;
	--color-brown-200: #cec3b6;
	--color-brown-500: #5e5851;
	--rgba-brown-350: rgba(114, 108, 101, 35);
	--rgba-brown-600: rgba(206, 195, 182, 60);
	--rgba-dark-250: rgba(20, 20, 0, 25);
	--rgba-dark-500: rgba(20, 20, 0, 50);
	--font-main: 'Manrope';
	--font-secondary: 'Geologica';
}
