.footer {
	padding: 85px 0 200px;
	color: var(--color-white);
	background-color: var(--color-dark-600);

	@include mq(md) {
		padding: 50px 0 80px;
	}

	&__container {
		@include flex-alignment(20px, space-between, flex-start);

		flex-wrap: wrap;

		@include mq(md) {
			gap: 50px;
		}
	}

	&__partners {
		@include flex-simple(65px);

		align-items: center;

		@include mq(md) {
			gap: 40px;
		}
	}

	&__logo {
		outline: 0;
		border-radius: 4px;
		transition:
			opacity 0.3s,
			box-shadow 0.3s;

		&:focus-visible {
			box-shadow: var(--focus-shadow);
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;
			}
		}
	}

	&__text {
		@include flex-simple(25px 65px);

		flex-wrap: wrap;

		p {
			max-width: 210px;

			@include mq(md) {
				max-width: 100%;
			}
		}
	}
}
