.form {
	&__title {
		@include typography-title;

		margin-bottom: 25px;
		font-size: 38px;
		letter-spacing: -0.03em;

		@include mq(md) {
			margin-bottom: 12px;
			font-size: 26px;
		}
	}

	&__items {
		@include flex-simple(5px, column);

		margin-bottom: 25px;
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__item {
		&--search {
			position: relative;
		}
	}

	&__field {
		@include card(18px 22px, 16px 20px, var(--color-white), 15px);

		outline: 0;
		border: 1px solid transparent;
		width: 100%;
		transition:
			color 0.3s,
			border-color 0.3s;

		&--error {
			border-color: var(--color-red-300);
			color: var(--color-red-300);
		}

		&--search {
			padding-left: 50px;
		}

		&::placeholder {
			color: var(--rgba-dark-800-25);
			transition: color 0.3s;
		}

		&:focus {
			border-color: var(--color-orange-400);
		}

		@media (any-hover: hover) {
			&:hover {
				&::placeholder {
					color: var(--rgba-dark-800);
				}
			}
		}
	}

	&__button {
		width: 100%;

		&--search {
			position: absolute;
			left: 10px;
			top: 50%;
			width: 32px;
			height: 32px;
			color: var(--color-black);
			transform: translateY(-50%);
			transition: color 0.3s;

			&:disabled {
				color: var(--color-dark-400);
				pointer-events: none;
			}

			@media (any-hover: hover) {
				&:hover {
					color: var(--color-orange-400);
				}
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__text {
		display: flex;
		margin: 0 auto;
	}
}
