.notice {
	@include card(35px 55px 35px 110px, 30px, var(--color-blue-300));

	position: relative;
	width: 100%;
	color: var(--color-blue-500);

	@include mq(md) {
		padding: 85px 35px 25px;
	}

	&::before {
		@include circle(var(--color-blue-500));
		@include bg-properties(24px 24px);

		content: '';
		position: absolute;
		left: 30px;
		top: 35px;
		background-image: url('../img/icons/bell.svg');

		@include mq(md) {
			top: 30px;
		}
	}

	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}
