.page-head {
	padding: 35px 0;
	width: 100%;
	background-color: var(--color-orange-200);

	@include mq(md) {
		padding: 25px 0;
	}

	&__title {
		@include typography-title;

		font-size: 50px;
		text-align: center;

		@include mq(md) {
			font-size: 34px;
		}
	}

	&__link {
		@include link;

		position: relative;
		padding: 10px 0 12px 57px;
		font-weight: 600;

		&::before {
			@include circle;
			@include bg-properties(7px 12px);

			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background-image: url('../img/icons/arrow.svg');
		}
	}
}
