.back {
  padding: 27px 0;
  width: 100%;
  background-color: var(--color-orange-200);

  &__link {
    @include flex-simple(15px);

    align-items: center;
    font-weight: 600;
    font-size: 16px;
  }
}
