<div class="graph-modal__container notice" role="dialog" aria-modal="true" data-graph-target="modal-sign-in-info">
    <div class="graph-modal__box">
        <div class="graph-modal__info">
            <span class="notice__title caption">
                Куда ещё можно войти с этим паролем?
            </span>
            <ul class="notice__list">
                <li class="notice__item">
                    <a class="notice__link" href="https://nayka.mpcenter.ru" target="_blank">
                        Научная Конференция
                    </a>
                </li>
                <li class="notice__item">
                    <a class="notice__link" href="https://nayka.mpcenter.ru" target="_blank">
                        Научная Конференция
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>