<div class="graph-modal__container graph-modal__container--thank" role="dialog" aria-modal="true" data-graph-target="modal-thank">
    <div class="graph-modal__box">
        <div class="graph-modal__header">
            <span class="graph-modal__title title">
                Спасибо за обратную связь!
            </span>
            <button class="graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
        </div>
        <div class="graph-modal__text">
            <p>
                    В ближайшее время обработаем данные и опубликуем пост
                </p>
        </div>
        <button class="graph-modal__button button js-modal-close" type="button">Отлично!</button>
    </div>
</div>