.hero {
	padding: 150px 0 90px;
	background-image: linear-gradient(
		314deg,
		rgba(245, 235, 223, 0.4) 0,
		#e3eff2 100%
	);

	@include mq(lg) {
		padding: 90px 0 60px;
	}

	&__container {
		@include flex-alignment(30px 150px, space-around, center);

		@include mq(lg) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__images {
		position: relative;
		width: 100%;
		height: 356px;
		max-width: 258px;

		--hero-img: url('');

		@include mq(md) {
			height: 235px;
			max-width: 172px;
		}

		picture {
			display: inline-block;
			width: 100%;
			height: 100%;
		}

		&::before,
		&::after {
			@include bg-properties;

			content: '';
			position: absolute;
			z-index: -1;
			border-radius: 30px;
			background-image: var(--hero-img);
		}

		&::before {
			right: 38%;
			top: 1%;
			width: 112%;
			height: 59%;
			transform: rotate(74deg);
		}

		&::after {
			left: 62%;
			top: 23%;
			width: 83%;
			height: 43%;
			transform: rotate(-78deg);
		}
	}

	&__img {
		border-radius: 30px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__wrapper {
		@include mq(md, min) {
			width: 100%;
			max-width: 563px;
		}
	}

	&__text {
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.6;

		p {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}

	&__link {
		@include mq(lg, min) {
			max-width: max-content;
		}
	}
}
