.hero {
  padding: 92px 0;
  background: linear-gradient(314deg,rgba(245, 235, 223, 0.4) 0%,#e3eff2 100%);

  @include mq (lg){
    padding: 92px 0 60px;
    background: linear-gradient(295deg, rgba(245, 235, 223, 0.4) 0%, #e3eff2 100%);
  }

  // &__images {
  //   &::before,
  //   &::after {
  //     @include bg-properties(cover);

  //     content: "";
  //     position: absolute;
  //     border-radius: 30px;
  //     background-image: url("../img/home-page/hero.jpg");
  //     opacity: 0.3;
  //   }

  //   &::before {
  //     left: 165px;
  //     top: 95px;
  //     z-index: 0;
  //     width: 290px;
  //     height: 210px;
  //     transform: rotate(74deg);
  //   }

  //   &::after {
  //     left: 490px;
  //     top: 135px;
  //     z-index: 0;
  //     width: 155px;
  //     height: 215px;
  //     transform: rotate(20deg);
  //   }
  // }

  &__container {
    @include flex-alignment(31px 250px, space-around, center);

    flex-wrap: wrap;

    @include mq(lg){
      justify-content: center;
    }
  }

  &__img {
    position: relative;
    z-index: 1000;
    border-radius: 30px;

    @include mq(lg){
      width: 172px;
      height: 235px;
    }
  }

  &__wrapper {
    max-width: 563px;
  }

  &__text {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;

    p:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    max-width: max-content;

    @include mq(lg){
      max-width: 100%;
    }
  }
}
