.news {
&__wrapper{
  @include flex-alignment(20px,space-between,center);

  margin-bottom:20px ;
}

&__swiper{
  margin-bottom: 35px;
}

&__button{
  max-width: max-content;

  @include mq(md){
    max-width: 100%;
  }
}
}
