.statistics {
	padding: 42px 0 60px;
	color: var(--color-blue-500);
	background-color: var(--color-blue-300);

	&__list {
		display: flex;
		justify-content: space-between;

		@include mq(lg) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__item {
		@include typography-title;

		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0 12px;
		width: 100%;
		letter-spacing: -0.03em;
		text-align: center;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:not(:last-child) {
			border-right: 1px solid var(--color-blue-500);

			@include mq(lg) {
				border-right: 0;
				border-bottom: 1px solid var(--color-blue-500);
				padding-bottom: 40px;
			}
		}

		&:not(:first-child) {
			@include mq(lg) {
				padding-top: 30px;
			}
		}
	}

	&__number {
		font-weight: 300;
		font-size: 128px;

		@include mq(lg) {
			font-weight: 400;
			font-size: 80px;
		}
	}

	&__subtitle {
		font-size: 26px;

		@include mq(lg) {
			font-size: 18px;
		}
	}
}
