<footer class="footer">
    <div class="footer__container container">
        <div class="footer__partners">
            <a class="footer__logo logo logo--mp" href="https://edu.gov.ru" target="_blank">
                <img class="logo__img" src="img/logos/mp.svg" alt="Логотип Министерства Просвещения Российской Федерации" width="207" height="88">
            </a>
            <a class="footer__logo logo logo--cpi" href="https://mpcenter.ru" target="_blank">
                <img class="logo__img" src="img/logos/cpi.svg" alt="Логотип Центра Просветительских Инициатив" width="247" height="54">
            </a>
        </div>
        <address class="footer__text">
            <p>
                Зарегистрирован в Федеральной службе по надзору в сфере связи, информационных технологий и массовых коммуникаций.
            </p>
            <p>
                Регистрационный номер и дата принятия решения о регистрации: серия Эл № ФС77-78575 от 08 июля 2020 г Научно-методическому журналу присвоен международный код ISSN 2304-120X
            </p>
        </address>
    </div>
</footer>