<header class="header header--fixed">
    <div class="header__container">
        <div class="container">
            <nav class="header__nav">
                <a class="header__logo logo" href="./">
                    <img class="logo__img" src="img/logos/sj.svg" alt="Логотип научного журнала" width="191" height="42">
                </a>

                <div class="burger-menu" id="header-burger-menu" data-menu>
                    <ul class="burger-menu__items">
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="./about.html" data-menu-link>
                                О журнале
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="./council.html" data-menu-link>
                                Совет
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="./releases.html" data-menu-link>
                                Выпуски
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="./release.html" data-menu-link>
                                Поиск
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="./all-news.html" data-menu-link>
                                Новости
                            </a>
                        </li>
                    </ul>

                    <div class="burger-menu__account">
                        <button class="burger-menu__button" data-graph-path="modal-sign-up-form" type="button" data-menu-link>
                            Регистрация
                        </button>
                        <button class="burger-menu__button" data-graph-path="modal-sign-in-form" type="button" data-menu-link>
                            Войти
                        </button>
                    </div>
                </div>

                <button class="burger-button" aria-label="Открыть меню" aria-expanded="false" aria-controls="header-burger-menu" data-burger-button>
                    <span class="burger-button__line" aria-hidden></span>
                </button>
            </nav>
        </div>
    </div>
</header>