<header class="header">
  <nav class="header__nav">
    <div class="container header__container">
      <a class="header__logo logo" href="./">
        <img class="logo__img" src="img/logos/sj.svg" alt="Логотип научного журнала" width="191" height="42" />
      </a>
      <ul class="header__items">
        <li class="header__item">
          <a class="header__link" href="#"> О журнале </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#"> Совет </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#"> Выпуски </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#"> Поиск </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#"> Новости </a>
        </li>
      </ul>

      <div class="header__account">
        <button class="header__link" type="button">Регистрация</button>
        <button class="header__link" type="button">Войти</button>
      </div>

      <button class="burger-button" aria-label="Открыть меню" aria-expanded="false" aria-controls="burger-menu" data-burger-button>
        <span class="burger-button__line" aria-hidden></span>
      </button>
    </div>
  </nav>
</header>
