<ul class="pagination">
    <li class="pagination__item">
        <a class="pagination__link pagination__link--prevent">
            <span class="sr-only">Предыдущая страница</span>
        </a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link pagination__link--current" href="#" aria-current="page">1</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link">...</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="#">15</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link pagination__link--next" href="#">
            <span class="sr-only">Следующая страница</span>
        </a>
    </li>
</ul>