.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  font-weight: 600;
  background-color: var(--color-white);

  &--fixed {
    position: fixed;

    .header__nav {
      position: relative;
    }
  }

  &__nav {
    padding: 25px 0;
  }

  &__container {
    @include flex-alignment(10px, space-between, center);
  }

  &__menu {
    @include flex-alignment(62px, flex-end, center);

    @include mq(lg) {
      display: none;
    }
  }

  &__link,
  &__registration {
    display: inline-block;
    transition: color 0.4s;

    &:hover {
      color: var(--color-orange-400);
    }
  }

  &__account {
    @include flex-simple(20px);

    align-items: center;

    &::after {
      @include bg-properties(24px 24px);

      content: "";
      border-radius: 100%;
      width: 42px;
      height: 42px;
      background-image: url("../img/icons/user.svg");
      background-color: var(--color-brown-200);
    }

    @include mq(lg) {
      display: none;
    }
  }

}
