.about {
	display: block;
	padding: 90px 0;
	background-color: var(--color-white);

	@include mq(md) {
		padding: 55px 0;
	}

	&__wrapper {
		@include flex-alignment(50px, space-between, flex-start);

		@include mq(md) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__info {
		width: 100%;
		max-width: 532px;
	}

	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__items {
		dd {
			display: block;

			&:not(:last-child) {
				margin-bottom: 16px;

				@include mq(md) {
					margin-bottom: 10px;
				}
			}
		}

		dt {
			display: block;
			font-weight: 600;
			font-size: 16px;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}
