.about {
	display: block;
	padding: 90px 0;
	background-color: var(--color-white);

	@include mq(md) {
		padding: 55px 0;
	}

	&__wrapper {
		@include flex-alignment(50px, space-between, flex-start);

		@include mq(md) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__info {
		width: 100%;
		max-width: 532px;
	}

	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__items {
		@include flex-simple(16px, column);

		li {
			@include flex-simple(6px, column);
		}

		strong {
			font-weight: 600;
			font-size: 16px;
		}
	}
}
