.search-navigate {
	.form {
		@include flex-simple(20px, column-reverse);

		&__field {
			font-size: 16px;

			&::placeholder {
				font-weight: 600;
				color: var(--color-dark-400);
			}
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 7px;

		@include mq(sm) {
			flex-direction: column;
			gap: 5px;
		}
	}

	&__hidden {
		@include hidden;

		&:checked + .search-navigate__visible {
			background-color: var(--color-orange-400);
			pointer-events: none;
		}
	}
}
